body{
    font-family: 'Merriweather', serif;
    margin: 0;
}

.f{
    padding-left: 30%;
    font-size: 40px;
}
.header{
    margin-bottom: 2%;
    font-size: 60px;
    color: orange;
    margin-left: 30%;
}

.half{
    width: 40%;
    float: left;
    margin-top: 5%;
    padding-left: 2%;
}
.us{
    background-image: url(file:///C:/Users/HP/Downloads/Compressed/complete-web-development-bangla-resources-master/personal-website/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 200%;
}
section{
    height: 500px;
}
.img{
    width: 30%;
    height: 150%;
   
    padding-left: 25%;
    padding-top: 5%;
}
.p{
    margin-left: 30%;
}
.link{
    margin-left: 30%;
    margin-bottom: 5%;
    text-decoration: none;
    background-color: darkred;
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   font-weight: 700;
  
}
.middle{
    background-image: url(file:///C:/Users/HP/Downloads/Compressed/complete-web-development-bangla-resources-master/personal-website/biography-bg.png);

    background-size: 100% 200%;
    margin-top: 7%;
}
.i{
    width: 80%;
    
}
.q{
    color: brown;
    font-size: 45px;
    margin-left: 15%;
}
.w{
    color: darkorange;
    font-size: 30px;
    margin-left: 15%;

}
.ph{
    margin-left: 15%;
}
.last{
    background-image: url(file:///C:/Users/HP/Downloads/Compressed/complete-web-development-bangla-resources-master/personal-website/latest-work-bg.png);
    background-size: 100% 200%;
}
.bui{
    text-align: center;
}
.my{
    width: 30%;
    float: left;
    padding: 1.4%;
}
.r{
    text-align: center;
}
.ui{
    text-align: center;
    margin-right: 30%;
    box-shadow: 5px 5px 5px 5px  orange;
}
.class{
    text-align: center;
}